* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f0f0f0;
    color: #131313;
}

.blackBG {
    background-color: #131313;
    color: #fff;
}

.whiteBG {
    background-color: #fff;
    color: #131313;
}

.navbar {
    grid-area: 1 / 1 / 2 / 2;
    min-width: 100px;
    max-width: 5vw;
    display: grid;
    grid-template-rows: repeat(5, 100px);
    grid-template-columns: repeat(1, 100px);
    height: 100%;
    min-height: 100vh;
    color: #f0f0f0;
    margin: 0;
}

.greyBG {
    background-color: #474747;
    color: #f0f0f0;
}

.fontWhite {
    color: #fff;
}

.roundedCorner {
    border-radius: 15px;
}

.smallRoundedCorner {
    border-radius: 5px;
    border-width: 1px;
}

.roundedTopCorner {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}


#content {
    background-color: #f0f0f0;
    min-width: 90vw;
    grid-area: 1 / 2 / 2 / 3;
    padding: 2vw 2vw 2vw 0vw;
}

#MainGrid {
    display: grid;
    grid-template-columns: fit-content 100%;
    grid-template-rows: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 0px;
}

.navBarText {
    font-size: 13px;
}

.navbarIcon {
    width: 90px;
    border-bottom: #5d5d5d 0.5px solid;
    margin: 0 auto;
    display: grid;
    text-align: center;
}

#div1 {
    font-size: 500%;
    grid-area: 1 / 1 / 2 / 2;
}
#div2 {
    font-size: 500%;
    grid-area: 2 / 1 / 3 / 2;
}
#div3 {
    margin-top: 5px;
    font-size: 450%;
    grid-area: 3 / 1 / 4 / 2;
}
#div4 {
    margin-top: 5px;
    font-size: 500%;
    grid-area: 4 / 1 / 5 / 2;
}
#div5 {
    margin-top: 5px;
    font-size: 400%;
    grid-area: 5 / 1 / 6 / 2;
}

.icon {
    font-size: 10%;
}

/*VIDEOBOX*/
.videoBox {
    display: inline-block;
    min-height: 200px;
    min-width: 200px;
    width: 17vw;
    height: 30vh;
    aspect-ratio: 16 / 9;
    padding: 0;
    margin: 0.47vw;
    background-color: #fff;
    padding: 0.1vw;
}
.thumnnailBox {
    aspect-ratio: 16 / 9;
}

#thumbnailIMG {
    width: 100%;
    height: 100%;
}

.titleBox {
    text-align: left;
    width: 100%;
    height: 10%;
    padding-bottom: 3.5vh;
    padding-left: 0.5vw;
}
.channelnameBox {
    text-align: left;
    display: inline-block;
    width: 50%;
    height: 15%;
    padding-left: 0.5vw;
}
.viewsBox {
    display: inline-block;
    width: 50%;
    height: 15%;
}

#tagsBox {
    width: 100%;
    padding-left: 0.5vw;
    margin-top: -12px;
}

.yellowBorder {
    border: 2px #D8FD00 solid;
}

.purpleBorder {
    border: 2px #6A13D9 solid;
}

.blueBorder {
    border: 2px #1070FF solid;
}

.orangeBorder {
    border: 2px #FF912B solid;
}

.redBorder {
    border: 2px #FF2F2F solid;
}

.yellowText {
    color: #D8fD00;
}

.purpleText {
    color: #6A13D9;
}

.blueText {
    color: #1070FF;
}

.orangeText {
    color: #FF912B;
}

.redText {
    color: #FF2F2F;
}